
<!DOCTYPE html>
<html>
<head>
    <title>Fechamento de Caixa</title>
    <meta name="viewport" content="width=device-width, initial-scale=2.0">
    
   <style>

        body {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

       .floating-form {
          position: fixed;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: #fff;
          padding: 20px;
          box-shadow: 0 10px 20px #fff;
          z-index: 999;
          border-radius: 35px 5px;
        }

        html {
            background: #274360;
        }

        input[type="number"] {
            width: 110px;
            text-align: right;
            font-size: medium;
        }
   </style>

</head>
    <body>
    
    <script>

        function atualizarTotal() {
            var dinheiro1= parseFloat(document.querySelector('input[name="dinheiro1"]').value) || 0;
            var cartao_cred1 = parseFloat(document.querySelector('input[name="cartao_cred1"]').value) || 0;
            var cartao_deb1 = parseFloat(document.querySelector('input[name="cartao_deb1"]').value) || 0;
            var pix1 = parseFloat(document.querySelector('input[name="pix1"]').value || 0);
            var cheque1 = parseFloat(document.querySelector('input[name="cheque1"]').value || 0);

            var total = dinheiro1 + cartao_cred1 + cartao_deb1 + pix1 + cheque1;
            document.querySelector('input[name="total1"]').value = total.toFixed(2);
        }

    </script>
    <div class="floating-form">
        <h3>RESUMO DIÁRIO DO CAIXA</h3>
     <form method="post" action="" style="border: 2px solid black; padding: 10px; font-size: large;">
        <h4>RESUMO DE VENDAS  -   <input type="date" name="data" id="data" tabindex="1"></h4>
            <table>
                <tr style="background-color: lightgray;">
                    <th class="coluna1">Caixa n.º</th>
                    <th><input type="number" name="caixa1" id="" style="background-color: lightgray;" tabindex="2"></th>
                </tr>
                <tr>
                    <td class="coluna1" style="background-color: lightgray;">DINHEIRO</td>
                    <td><input name="dinheiro1" type="number" tabindex="3" oninput="atualizarTotal()"></td>
                    
                </tr>
                <tr>
                    <td class="coluna1" style="background-color: lightgray;">CARTÃO CRED</td>
                    <td><input type="number" name="cartao_cred1" oninput="atualizarTotal()"></td>
                  
                <tr>
                    <td class="coluna1" style="background-color: lightgray;">CARTÃO DEB</td>
                    <td><input type="number" name="cartao_deb1" oninput="atualizarTotal()"></td>
                    
                </tr>
                <tr>
                    <td class="coluna1" style="background-color: lightgray;">PIX</td>
                    <td><input type="number" name="pix1" oninput="atualizarTotal()"></td>
                   
                </tr>
                <tr>
                    <td class="coluna1" style="background-color: lightgray;">CHEQUE</td>
                    <td><input type="number" name="cheque1" oninput="atualizarTotal()"></td>
                    
                </tr>
                <tr>
                    <td class="coluna1" style="background-color: lightgray;">TOTAL</td>
                    <td><input type="number" style="background-color: lightgray; font-weight: bolder;" name="total1" readonly></td>
                    
                </tr>
            </table>
        <hr>
            <table>
                <tr>
                    <td class="coluna1">Dinheiro Malote</td>
                    <td><input type="number" name="malote1"></td>
                   
                </tr>
                <tr class="despesa">
                    <td style="font-weight: bolder;">Despesa</td>
                    <td><input type="number" name="despesa1"></td>
                    
                </tr>
                <tr>
                    <td style="font-weight: bolder;">Resultado</td>
                    <td><input type="number" name="resultado1" readonly></td>
                   
                </tr>
                <tr>
                    <td style="font-weight: bolder; text-align: right;"  >Quant. de Vendas</td>
                    <td><input type="number" name="qtd_vendas"></td>
                </tr>
                <tr>
                    <td style="font-weight: bolder; text-align: right;">Ticket Médio</td>
                    <td><input type="number" name="tkt_medio" readonly></td>
                </tr>
            </table>
            <h5>RESUMO DE SERVIÇOS</H5>
            <table>
                <tr>
                    <td style="font-weight: bolder;" class="coluna1">Serviços</td>
                    <td><input type="number" name="serviços1"></td>
                </tr>
            </table>
            <div>
                <button type="submit" form="form1" value="Submit">Salvar</button>
                <button type="reset" form="form1" value="Reset">Limpar</button>
            </div>

        </form>
        
    
    </div>