
<!DOCTYPE html>
<html>
<head>
    <title>Novo Fechamento de Caixa</title>
    <meta name="viewport" content="width=device-width, initial-scale=2.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='bo otstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   
</head>

<body>
    {% for message in get_flashed_messages() %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    <script src="{{ url_for('static', filename='js.js' )}}"></script>

<div class="floating-form">
        <h3>RESUMO DIÁRIO DO CAIXA</h3>
    <form method="post" action="/criar" >
        <fieldset>
            <h4>RESUMO DE VENDAS</h4>
            {{ form.data(tabindex=1, class="form-horizontal")}}
            <table>
                <tr class="caixa">
                    <td><label for="caixa1">Caixa nº.</label></td>
                    <td>{{ form.caixa1() }}</td>
                    <td>{{ form.caixa2() }}</td>
                    <td>{{ form.caixa3() }}</td>
                    <td>{{ form.caixa4() }}</td>
                    <td style="text-align: center;">TOTAL</td>
                </tr>
                <tr>
                    <td><label for="dinheiro1">Dinheiro</label></td>
                    <td>{{ form.dinheiro1(tabindex="3", step="0.01", min="0", class="coluna1", placeholder="0.00", id="dinheiro1", oninput="atualizarTotal1(); atualizarTotalDinheiro(); calcularResultado1()") }}</td>
                    <td>{{ form.dinheiro2(tabindex="11", type="number", step="0.01", min="0", class="coluna2", placeholder="0.00", id="dinheiro2", oninput="atualizarTotal2(); atualizarTotalDinheiro(); calcularResultado2()") }}</td>
                    <td>{{ form.dinheiro3(tabindex="19", type="number", step="0.01", min="0", class="coluna3", placeholder="0.00", id="dinheiro3", oninput="atualizarTotal3(); atualizarTotalDinheiro(); calcularResultado3()") }}</td>
                    <td>{{ form.dinheiro4(tabindex="27", type="number", step="0.01", min="0", class="coluna4", placeholder="0.00", id="dinheiro4", oninput="atualizarTotal4(); atualizarTotalDinheiro(); calcularResultado4()") }}</td>
                    <td>{{ form.dinheiro_total(type="number", step="0.01", min="0", class="coluna5", placeholder="0.00", id="dinheiro_total") }}</td>
                </tr>
                <tr>
                    <td><label for="cartao_cred1">CARTÃO CRED</label></td>
                    <td>{{ form.cartao_cred1(tabindex="4", type="number", step="0.01", min="0", class="", placeholder="0.00", id="cartao_cred1", oninput="atualizarTotal1(); atualizarTotalCartaoCred()") }} </td>
                    <td>{{ form.cartao_cred2(tabindex="12", type="number", step="0.01", min="0", class="", placeholder="0.00", id="cartao_cred2", oninput="atualizarTotal2(); atualizarTotalCartaoCred()") }} </td>
                    <td>{{ form.cartao_cred3(tabindex="20", type="number", step="0.01", min="0", class="", placeholder="0.00", id="cartao_cred3", oninput="atualizarTotal3(); atualizarTotalCartaoCred()") }} </td>
                    <td>{{ form.cartao_cred4(tabindex="28", type="number", step="0.01", min="0", class="", placeholder="0.00", id="cartao_cred4", oninput="atualizarTotal4(); atualizarTotalCartaoCred()") }} </td>
                    <td>{{ form.cartao_cred_total(type="number", step="0.01", min="0", class="", placeholder="0.00", id="cartao_cred_total") }}</td>
                </tr>                
                <tr>
                    <td><label for="cartao_deb1">CARTÃO DEB</label></td>
                    <td>{{ form.cartao_deb1(tabindex="5", type="number", step="0.01", min="0", class="form-control",placeholder="0.00", id="cartao_deb1", oninput="atualizarTotal1(); atualizarTotalCartaoDeb()") }}</td>
                    <td>{{ form.cartao_deb2(tabindex="13", type="number", step="0.01", min="0", class="form-control", placeholder="0.00", id="cartao_deb2", oninput="atualizarTotal2();  atualizarTotalCartaoDeb()") }}</td>
                    <td>{{ form.cartao_deb3(tabindex="21", type="number", step="0.01", min="0", class="form-control", placeholder="0.00", id="cartao_deb3", oninput="atualizarTotal3();  atualizarTotalCartaoDeb()") }}</td>
                    <td>{{ form.cartao_deb4(tabindex="29", type="number", step="0.01", min="0", class="form-control", placeholder="0.00", id="cartao_deb4", oninput="atualizarTotal4();  atualizarTotalCartaoDeb()") }}</td>
                    <td>{{ form.cartao_deb_total(type="number", step="0.01", min="0", class="form-control", placeholder="0.00", id="cartao_deb_total") }}</td>
                </tr>
                <tr>
                    <td><label for="pix1">PIX</label></td>
                    <td>{{ form.pix1(tabindex="6", type="number", step="0.01", min="0", class="form-control", placeholder="0.00", id="pix1", oninput="atualizarTotal1(); atualizarTotalPix()") }}</td>
                    <td>{{ form.pix2(tabindex="14", type="number", step="0.01", min="0", class="form-control", placeholder="0.00", id="pix2", oninput="atualizarTotal2(); atualizarTotalPix()") }}</td>
                    <td>{{ form.pix3(tabindex="22", type="number", step="0.01", min="0", class="form-control", placeholder="0.00", id="pix3", oninput="atualizarTotal3(); atualizarTotalPix()") }}</td>
                    <td>{{ form.pix4(tabindex="30", step="0.01", min="0", class="form-control", placeholder="0.00", id="pix4", oninput="atualizarTotal4(); atualizarTotalPix()") }}</td>
                    <td>{{ form.pix_total(type="number", step="0.01", min="0", class="form-control", placeholder="0.00", id="pix_total") }}</td>
                </tr>
                <tr>
                    <td><label for="cheque1">CHEQUE</label></td>
                    <td>{{ form.cheque1(tabindex="7", step="0.01", min="0", class="form-control", placeholder="0.00", id="cheque1", oninput="atualizarTotal1(); atualizarTotalCheque()") }}</td>
                    <td>{{ form.cheque2(tabindex="15", step="0.01", min="0", class="form-control", placeholder="0.00", id="cheque2", oninput="atualizarTotal2(); atualizarTotalCheque()") }}</td>
                    <td>{{ form.cheque3(tabindex="23", step="0.01", min="0", class="form-control", placeholder="0.00", id="cheque3", oninput="atualizarTotal3(); atualizarTotalCheque()") }}</td>
                    <td>{{ form.cheque4(tabindex="31", step="0.01", min="0", class="form-control", placeholder="0.00",  id="cheque4", oninput="atualizarTotal4(); atualizarTotalCheque()") }}</td>
                    <td>{{ form.cheque_total(step="0.01", min="0", class="form-control", placeholder="0.00", id="cheque_total") }}</td>
                </tr>
                <tr class="destaque">
                    <td><label class="destaque" for="total1">TOTAL</label></td>
                    <td>{{ form.total1(step="0.01", min="0", class="form-control", placeholder="0.00", id="total1", oninput="atualizarTotalTotal()") }}</td>
                    <td>{{ form.total2(step="0.01", min="0", class="form-control", placeholder="0.00", id="total2", oninput="atualizarTotalTotal()") }}</td>
                    <td>{{ form.total3(step="0.01", min="0", class="form-control", placeholder="0.00", id="total3", oninput="atualizarTotalTotal()") }}</td>
                    <td>{{ form.total4(step="0.01", min="0", class="form-control", placeholder="0.00", id="total4", oninput="atualizarTotalTotal()") }}</td>
                    <td>{{ form.total_total(step="0.01", min="0", class="form-control", placeholder="0.00", id="total_total") }}</td>
                </tr>
            </table>
            <hr>
            <table>
                <tr>
                    <td><label for="malote1">Dinheiro Malote</label></td>
                    <td>{{ form.malote1(tabindex="8", step="0.01", min="0", class="form-control", placeholder="0.00", id="malote1", oninput="atualizarTotalMalotes(); calcularResultado1()") }}</td>
                    <td>{{ form.malote2(tabindex="16", step="0.01", min="0", class="form-control", placeholder="0.00", id="malote2", oninput="atualizarTotalMalotes(); calcularResultado2()") }}</td>
                    <td>{{ form.malote3(tabindex="24", step="0.01", min="0", class="form-control", placeholder="0.00", id="malote3", oninput="atualizarTotalMalotes(); calcularResultado3()") }}</td>
                    <td>{{ form.malote4(tabindex="32", step="0.01", min="0", class="form-control", placeholder="0.00", id="malote4", oninput="atualizarTotalMalotes(); calcularResultado4()") }}</td>
                    <td>{{ form.malote_total(step="0.01", min="0", class="form-control", placeholder="0.00", id="malote_total") }}</td>                 
                </tr>
                <tr class="sangria">
                    <td><label for="sangria1">Sangria</label></td>
                    <td>{{ form.sangria1(tabindex="9", step="0.01", min="0", class="form-control", placeholder="0.00", id="sangria1", oninput="atualizarTotalSangria(); calcularResultado1()") }}</td>
                    <td>{{ form.sangria2(tabindex="17", step="0.01", min="0", class="form-control", placeholder="0.00", id="sangria2", oninput="atualizarTotalSangria(); calcularResultado2()") }}</td>
                    <td>{{ form.sangria3(tabindex="25", step="0.01", min="0", class="form-control", placeholder="0.00", id="sangria3", oninput="atualizarTotalSangria(); calcularResultado3()") }}</td>
                    <td>{{ form.sangria4(tabindex="33", step="0.01", min="0", class="form-control", placeholder="0.00", id="sangria4", oninput="atualizarTotalSangria(); calcularResultado4()") }}</td>
                    <td>{{ form.sangria_total(step="0.01", min="0", class="form-control", placeholder="0.00", id="sangria_total") }}</td>
                </tr>
                <tr class="destaque">
                    <td><label class="destaque" for="resultado1">Resultado</label></td>
                    <td>{{ form.resultado1(step="0.01", min="0", class="form-control", placeholder="0.00", id="resultado1") }}</td>
                    <td>{{ form.resultado2(step="0.01", min="0", class="form-control", placeholder="0.00", id="resultado2") }}</td>
                    <td>{{ form.resultado3(step="0.01", min="0", class="form-control", placeholder="0.00", id="resultado3") }}</td>
                    <td>{{ form.resultado4(step="0.01", min="0", class="form-control", placeholder="0.00", id="resultado4") }}</td>
                    <td>{{ form.resultado_total(step="0.01", min="0", class="form-control", placeholder="0.00", id="resultado_total") }}</td>
                </tr>
            </table>         
            <hr>
            <table>
                <td><label for="qtd_vendas">Quant. de Vendas</label></td>
                <td>{{ form.qtd_vendas(tabindex="39", id="qtd_vendas", oninput="atualizarTicketMedio()") }}</td>
                <td><label for="tkt_medio">Ticket Médio</label></td>
                <td>{{ form.tkt_medio(step="0.01", min="0", class="form-control", placeholder="0.00", id="tkt_medio") }} </td>
            </table>
            <hr>
            <table>
                <tr>
                    <td><label for="servicos1">Serviços</label></td>
                    <td>{{ form.servicos1(tabindex="35", step="0.01", min="0", class="form-control", placeholder="0.00", id="servicos1", oninput="atualizarTotalServicos()") }}</td>
                    <td>{{ form.servicos2(tabindex="36", step="0.01", min="0", class="form-control", placeholder="0.00", id="servicos2", oninput="atualizarTotalServicos()") }}</td>
                    <td>{{ form.servicos3(tabindex="37", step="0.01", min="0", class="form-control", placeholder="0.00", id="servicos3", oninput="atualizarTotalServicos()") }}</td>
                    <td>{{ form.servicos4(tabindex="38", step="0.01", min="0", class="form-control", placeholder="0.00", id="servicos4", oninput="atualizarTotalServicos()") }}</td>
                    <td class="destaque">{{ form.servicos_total(step="0.01", min="0", class="form-control destaque", placeholder="0.00", id="servicos_total") }}</td>
                </tr>   
            </table>   
            <div style="text-align: right;">                
                <a href="{{ url_for('index') }}"><button class="voltar" type="button">Voltar</button></a>
                <button type="button" onclick="calcular(); calcularResultadoTotal(); atualizarTotalTotal()">Calcular</button>
                {{ form.salvar(class="salvar", onclick="calcular(); calcularResultadoTotal(); atualizarTotalTotal()") }}
                <!-- <button class="salvar" type="submit" onclick="calcular(); calcularResultadoTotal(); atualizarTotalTotal()">Salvar</button> -->
            </div>
        </fieldset>
    </form>
</div>