
<!DOCTYPE html>
<html>
<head>
    <title>Novo Fechamento de Caixa</title>
    <meta name="viewport" content="width=device-width, initial-scale=2.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='bo otstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='st yle.css') }}">
   
</head>

<body>
    {% for message in get_flashed_messages() %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    <script src="{{ url_for('static', filename='js.js' )}}"></script>

<div class="floating-form">
        <h3>RESUMO DIÁRIO DO CAIXA</h3>
    <form method="post" action="/criar" >
        <fieldset>
            <h1>NOVO2 WTFORMS</h1>
            <h4>RESUMO DE VENDAS</h4>
            {{ form.data(tabindex=1, class="form-horizontal")}}
            <table>
                <tr class="caixa">
                    <td><label for="caixa1">Caixa nº.</label></td>
                    <td>{{ form.caixa1() }}</td>
                    <td>{{ form.caixa2() }}</td>
                    <td>{{ form.caixa3() }}</td>
                    <td>{{ form.caixa4() }}</td>
                    <td style="text-align: center;">TOTAL</td>
                </tr>
                <tr>
                    <td><label for="dinheiro1">Dinheiro</label></td>
                    <td>{{ form.dinheiro1(tabindex="3", step="0.01", min="0", class="coluna1", placeholder="0.00", id="dinheiro1", oninput="atualizarTotal1(); atualizarTotalDinheiro(); calcularResultado1()") }}</td>
                    <td>{{ form.dinheiro2(tabindex="11", type="number", step="0.01", min="0", class="coluna2", placeholder="0.00", id="dinheiro2", oninput="atualizarTotal2(); atualizarTotalDinheiro(); calcularResultado2()") }}</td>
                    <td>{{ form.dinheiro3(tabindex="19", type="number", step="0.01", min="0", class="coluna3", placeholder="0.00", id="dinheiro3", oninput="atualizarTotal3(); atualizarTotalDinheiro(); calcularResultado3()") }}</td>
                    <td>{{ form.dinheiro4(tabindex="27", type="number", step="0.01", min="0", class="coluna4", placeholder="0.00", id="dinheiro4", oninput="atualizarTotal4(); atualizarTotalDinheiro(); calcularResultado4()") }}</td>
                    <td>{{ form.dinheiro_total(type="number", step="0.01", min="0", class="coluna5", placeholder="0.00", id="dinheiro_total") }}</td>
                </tr>
                <tr>
                    <td><label for="cartao_cred1">CARTÃO CRED</label></td>
                    <td>{{ form.cartao_cred1(tabindex="4", type="number", step="0.01", min="0", class="", placeholder="0.00", id="cartao_cred1", oninput="atualizarTotal1(); atualizarTotalCartaoCred()") }} </td>
                    <td>{{ form.cartao_cred2(tabindex="12", type="number", step="0.01", min="0", class="", placeholder="0.00", id="cartao_cred2", oninput="atualizarTotal2(); atualizarTotalCartaoCred()") }} </td>
                    <td>{{ form.cartao_cred3(tabindex="20", type="number", step="0.01", min="0", class="", placeholder="0.00", id="cartao_cred3", oninput="atualizarTotal3(); atualizarTotalCartaoCred()") }} </td>
                    <td>{{ form.cartao_cred4(tabindex="28", type="number", step="0.01", min="0", class="", placeholder="0.00", id="cartao_cred4", oninput="atualizarTotal4(); atualizarTotalCartaoCred()") }} </td>
                    <td>{{ form.cartao_cred_total(type="number", step="0.01", min="0", class="", placeholder="0.00", id="cartao_cred_total") }}</td>
                </tr>                
                <tr>
                    <td><label for="cartao_deb1">CARTÃO DEB</label></td>
                    <td><input tabindex="5" type="number" step="0.01" min="0" class="form-control" placeholder="0.00" name="cartao_deb1" id="cartao_deb1" oninput="atualizarTotal1(); atualizarTotalCartaoDeb()"></td>
                    <td><input tabindex="13" type="number" step="0.01" min="0" class="form-control" placeholder="0.00" name="cartao_deb2" id="cartao_deb2" oninput="atualizarTotal2();  atualizarTotalCartaoDeb()"></td>
                    <td><input tabindex="21" type="number" step="0.01" min="0" class="form-control" placeholder="0.00" name="cartao_deb3" id="cartao_deb3" oninput="atualizarTotal3();  atualizarTotalCartaoDeb()"></td>
                    <td><input tabindex="29" type="number" step="0.01" min="0" class="form-control" placeholder="0.00" name="cartao_deb4" id="cartao_deb4" oninput="atualizarTotal4();  atualizarTotalCartaoDeb()"></td>
                    <td><input type="number" step="0.01" min="0" class="form-control" placeholder="0.00" name="cartao_deb_total" id="cartao_deb_total" readonly></td>
                </tr>
                <tr>
                    <td><label for="pix1">PIX</label></td>
                    <td><input tabindex="6" type="number" step="0.01" min="0" class="form-control" placeholder="0.00" name="pix1" id="pix1" oninput="atualizarTotal1(); atualizarTotalPix()"></td>
                    <td><input tabindex="14" type="number" step="0.01" min="0" class="form-control" placeholder="0.00" name="pix2" id="pix2" oninput="atualizarTotal2(); atualizarTotalPix()"></td>
                    <td><input tabindex="22" type="number" step="0.01" min="0" class="form-control" placeholder="0.00" name="pix3" id="pix3" oninput="atualizarTotal3(); atualizarTotalPix()"></td>
                    <td><input tabindex="30" type="number" step="0.01" min="0" class="form-control" placeholder="0.00" name="pix4" id="pix4" oninput="atualizarTotal4(); atualizarTotalPix()"></td>
                    <td><input type="number" step="0.01" min="0" class="form-control" placeholder="0.00" name="pix_total" id="pix_total" readonly></td>
                </tr>
                <tr>
                    <td><label for="cheque1">CHEQUE</label></td>
                    <td><input tabindex="7" type="number" step="0.01" min="0" class="form-control" placeholder="0.00" name="cheque1" id="cheque1" oninput="atualizarTotal1(); atualizarTotalCheque()"></td>
                    <td><input tabindex="15" type="number" step="0.01" min="0" class="form-control" placeholder="0.00" name="cheque2" id="cheque2" oninput="atualizarTotal2(); atualizarTotalCheque()"></td>
                    <td><input tabindex="23" type="number" step="0.01" min="0" class="form-control" placeholder="0.00" name="cheque3" id="cheque3" oninput="atualizarTotal3(); atualizarTotalCheque()"></td>
                    <td><input tabindex="31" type="number" step="0.01" min="0" class="form-control" placeholder="0.00" name="cheque4" id="cheque4" oninput="atualizarTotal4(); atualizarTotalCheque()"></td>
                    <td><input type="number" step="0.01" min="0" class="form-control" placeholder="0.00" name="cheque_total" id="cheque_total" readonly></td>
                </tr>
                <tr class="destaque">
                    <td><label class="destaque" for="total1">TOTAL</label></td>
                    <td><input class="destaque" type="number" step="0.01" min="0" class="form-control" placeholder="0.00" name="total1" id="total1" oninput="atualizarTotalTotal()" readonly></td>
                    <td><input class="destaque" type="number" step="0.01" min="0" class="form-control" placeholder="0.00" name="total2" id="total2" oninput="atualizarTotalTotal()" readonly></td>
                    <td><input class="destaque" type="number" step="0.01" min="0" class="form-control" placeholder="0.00" name="total3" id="total3" oninput="atualizarTotalTotal()" readonly></td>
                    <td><input class="destaque" type="number" step="0.01" min="0" class="form-control" placeholder="0.00" name="total4" id="total4" oninput="atualizarTotalTotal()" readonly></td>
                    <td><input class="destaque" type="number" step="0.01" min="0" class="form-control" placeholder="0.00" name="total_total" id="total_total" readonly required></td>
                </tr>
            </table>
            <hr>
            <table>
                <tr>
                    <td><label for="malote1">Dinheiro Malote</label></td>
                    <td><input tabindex="8" type="number" step="0.01" min="0" class="form-control" placeholder="0.00" name="malote1" id="malote1" oninput="atualizarTotalMalotes(); calcularResultado1()"></td>
                    <td><input tabindex="16" type="number" step="0.01" min="0" class="form-control" placeholder="0.00" name="malote2" id="malote2" oninput="atualizarTotalMalotes(); calcularResultado2() "></td>
                    <td><input tabindex="24" type="number" step="0.01" min="0" class="form-control" placeholder="0.00" name="malote3" id="malote3" oninput="atualizarTotalMalotes(); calcularResultado3()"></td>
                    <td><input tabindex="32" type="number" step="0.01" min="0" class="form-control" placeholder="0.00" name="malote4" id="malote4" oninput="atualizarTotalMalotes(); calcularResultado4()"></td>
                    <td><input type="number" step="0.01" min="0" class="form-control" placeholder="0.00" name="malote_total" id="malote_total" readonly></td>                 
                </tr>
                <tr class="sangria">
                    <td><label for="sangria1">Sangria</label></td>
                    <td><input tabindex="9" type="number" step="0.01" min="0" class="form-control" placeholder="0.00" name="sangria1" id="sangria1" oninput="atualizarTotalSangria(); calcularResultado1()"></td>
                    <td><input tabindex="17" type="number" step="0.01" min="0" class="form-control" placeholder="0.00" name="sangria2" id="sangria2" oninput="atualizarTotalSangria(); calcularResultado2() "></td>
                    <td><input tabindex="25" type="number" step="0.01" min="0" class="form-control" placeholder="0.00" name="sangria3" id="sangria3" oninput="atualizarTotalSangria(); calcularResultado3()"></td>
                    <td><input tabindex="33" type="number" step="0.01" min="0" class="form-control" placeholder="0.00" name="sangria4" id="sangria4" oninput="atualizarTotalSangria(); calcularResultado4()"></td>
                    <td><input type="number" step="0.01" min="0" class="form-control" placeholder="0.00" name="sangria_total" id="sangria_total"></td>
                </tr>
                <tr class="destaque">
                    <td><label class="destaque" for="resultado1">Resultado</label></td>
                    <td><input class="destaque" type="number" step="0.01" min="0" class="form-control" placeholder="0.00" name="resultado1" id="resultado1" readonly></td>
                    <td><input class="destaque" type="number" step="0.01" min="0" class="form-control" placeholder="0.00" name="resultado2" id="resultado2" readonly></td>
                    <td><input class="destaque" type="number" step="0.01" min="0" class="form-control" placeholder="0.00" name="resultado3" id="resultado3" readonly></td>
                    <td><input class="destaque" type="number" step="0.01" min="0" class="form-control" placeholder="0.00" name="resultado4" id="resultado4" readonly></td>
                    <td><input class="destaque" type="number" step="0.01" min="0" class="form-control" placeholder="0.00" name="resultado_total" id="resultado_total" readonly required></td>
                </tr>
            </table>         
            <hr>
            <table>
                <td><label for="qtd_vendas">Quant. de Vendas</label></td>
                <td><input tabindex="39" type="number" name="qtd_vendas" id="qtd_vendas" required oninput="atualizarTicketMedio()"></td>
            
                <td><label for="tkt_medio">Ticket Médio</label></td>
                <td><input type="number" step="0.01" min="0" class="form-control" placeholder="0.00" name="tkt_medio" id="tkt_medio" readonly></td>
            </table>
            <hr>
            <table>
                <tr>
                    <td><label for="servicos1">Serviços</label></td>
                    <td><input tabindex="35" type="number" step="0.01" min="0" class="form-control" placeholder="0.00" name="servicos1" id="servicos1" oninput="atualizarTotalServicos()"></td>
                    <td><input tabindex="36" type="number" step="0.01" min="0" class="form-control" placeholder="0.00" name="servicos2" id="servicos2" oninput="atualizarTotalServicos()"></td>
                    <td><input tabindex="37" type="number" step="0.01" min="0" class="form-control" placeholder="0.00" name="servicos3" id="servicos3" oninput="atualizarTotalServicos()"></td>
                    <td><input tabindex="38" type="number" step="0.01" min="0" class="form-control" placeholder="0.00" name="servicos4" id="servicos4" oninput="atualizarTotalServicos()"></td>
                    <td class="destaque"><input type="number" step="0.01" min="0" class="form-control destaque" placeholder="0.00" name="servicos_total" id="servicos_total"></td>
                </tr>   
            </table>   
            <div style="text-align: right;">                
                <a href="{{ url_for('index') }}"><button class="voltar" type="button">Voltar</button></a>
                <button type="button" onclick="calcular(); calcularResultadoTotal(); atualizarTotalTotal()">Calcular</button>
                <button class="salvar" type="submit" onclick="calcular(); calcularResultadoTotal(); atualizarTotalTotal()">Salvar</button>
            </div>
        </fieldset>
    </form>
</div>